실행시에는 
1. SHIFT + ENTER (실행 이후 라인 다음 셀로 이동, 다음 셀이 없을 경우 새로운 셀 생성 이후 이동)
2. Ctrl + ENTER (해당 셀 실행)

을 입력 합니다.

- python 은 들여쓰기에 민감합니다. 아래와 같은 에러가 발생하였을 경우 들여쓰기를 확인해 줍니다.

In [1]:
a = 1
 print(a)

IndentationError: unexpected indent (3165526655.py, line 2)

- 주석은 # 또는 ''' ''' 로 구문을 감싸주어 만들수 있습니다.

In [ ]:
# 안녕하세요
# b = 2

In [ ]:
'''
안녕하세요
b = 2
'''

'\n안녕하세요\nb = 2\n'

In [ ]:
a = '''
안녕하세요
hellow world
'''

In [ ]:
print(a)

안녕하세요
hellow world

# 1. 숫자

- 변수 선언시 타입을 지정하지 않아도 자동으로 지정이 됩니다.

## 1) int

In [ ]:
a = 1

In [ ]:
print(type(a))

<class 'int'>

## 2) float

In [ ]:
b = 1.1

In [ ]:
print(type(b))

<class 'float'>

## 3) int + float ?

In [ ]:
c = a + b

In [ ]:
print(type(c))

<class 'float'>

## 4) 연산

### (1) 더하기

In [ ]:
a = 10
b = 7

In [ ]:
print(a + b)

17

### (2) 빼기

In [ ]:
a = 10
b = 7

In [ ]:
print(a - b)

3

### (3) 곱하기

In [ ]:
a = 10
b = 7

In [ ]:
print(a * b)

70

### (4) 나누기

In [ ]:
a = 10
b = 7

In [ ]:
print(a / b)

1.4285714285714286

### (5) 몫

In [ ]:
a = 10
b = 7

In [ ]:
print( a // b)

1

### (6) 나머지

In [ ]:
a = 10
b = 7

In [ ]:
print(a % b)

3

### (7) 제곱

In [ ]:
a = 10
b = 7

In [ ]:
print(a ** b)

10000000

### (8) 할당연산

- 더하기

In [ ]:
a = 1
a += 1
# a = a + 1 와 동일
print(a)

2

- 빼기

In [ ]:
a = 1
a -= 1
# a = a - 1 와 동일
print(a)

0

- 곱하기

In [ ]:
a = 1
a *= 2
# a = a * 2 와 동일
print(a)

2

- 나누기

In [ ]:
a = 1
a /= 2
# a = a / 2
print(a)

0.5

## 5) 형변환

### (1) int -> float

In [ ]:
a = 1
aa = float(a)

In [ ]:
print(aa)
print(type(aa))

1.0
<class 'float'>

### (2) int -> str

In [ ]:
a = 1
aa = str(a)

In [ ]:
print(aa)
print(type(aa))

1
<class 'str'>

## 3) str -> int

In [ ]:
a = '1'
aa = int(aa)

In [ ]:
print(aa)
print(type(aa))

1
<class 'int'>

In [ ]:
a = 'hellow world'
aa = int(a)

ValueError: invalid literal for int() with base 10: 'hellow world'

# 2. 문자

## 1) 인덱스

In [ ]:
a = 'hellow world'

- 인덱스는 []를 통해 지정해 줄 수 있으며, 0부터 시작합니다.

In [ ]:
print(a[0])

h

- : 를 이용하여 전체를 나타내 줄 수 있습니다.

In [ ]:
print(a[:])

hellow world

## 2) 슬라이스

- 범위를 지정하여 원하는 부분만을 얻을 수 있습니다.
- 이상, 미만 입니다.

In [ ]:
a = 'hellow world'

In [ ]:
print(a[2:3])

l

In [ ]:
print(a[2:4])

ll

In [ ]:
print(a[2:])

llow world

- -부호를 붙이면 뒤에서부터 지정합니다.

In [ ]:
print(a[:-2])

hellow wor

In [ ]:
print(a[-2:])

ld

## 3) 문자열 더하기

In [ ]:
a = 'hellow world'

In [ ]:
print(a + a)

hellow worldhellow world

## 4) 문자열 곱하기

In [ ]:
print(a * 2)

hellow worldhellow world

## 5) 문자열 나누기

In [ ]:
a = 'hellow world'

In [ ]:
a.split()

['hellow', 'world']

In [ ]:
b = 'hellow.world.'

In [ ]:
b.split('.')

['hellow', 'world', '']

# 3. 리스트

## 1) 생성방법

In [ ]:
a = [1, 2, 3]

In [ ]:
print(a)
print(type(a))

[1, 2, 3]
<class 'list'>

## 2) 인덱스

In [ ]:
print(a[0])

1

## 3) 슬라이스

In [ ]:
print(a[:2])
print(a[:-1])
print(a[1:])

[1, 2]
[1, 2]
[2, 3]

## 4) 치환하기

In [ ]:
a = [1, 2, 3]

In [ ]:
a[2] = 10
print(a)

[1, 2, 10]

## 5) 리스트 구조

In [ ]:
b = [1, [1, 2], [1, [1, 2]]]
print(b)

[1, [1, 2], [1, [1, 2]]]

![파이썬](./list.png)

## 6) 리스트 더하기

In [ ]:
a = [1, 2, 3]

In [ ]:
print (a + a)

[1, 2, 3, 1, 2, 3]

## 7) 리스트 곱하기

In [ ]:
a = [1, 2, 3]

In [ ]:
print(a * 2)

[1, 2, 3, 1, 2, 3]

## 8) append

In [ ]:
a = [1, 2, 3]

In [ ]:
a.append(4)

In [ ]:
print(a)

[1, 2, 3, 4]

## 9) index

- 리스트에 속해 있는 x의 위치 값 반환

In [ ]:
a = [1, 2, 3]

In [ ]:
a.index(2)

1

## 10) 리스트의 길이 구하기

In [ ]:
a = [1, 2, 3]

In [ ]:
print(len(a))

3

## 함수 이름이 생각 안 날때???

In [ ]:
이미지

NameError: name '이미지' is not defined

# 4. 튜플

## 1) 생성방법

In [ ]:
a = (1, 2, 3)

In [ ]:
print(a)
print(type(a))

(1, 2, 3)
<class 'tuple'>

## 2) 인덱스

In [ ]:
print(a[0])

1

## 3) 슬라이스

In [ ]:
print(a[:2])
print(a[:-1])
print(a[1:])

(1, 2)
(1, 2)
(2, 3)

## 4) 치환하기

- 튜플은 요소값의 변경이나 삭제가 불가

In [ ]:
a = (1, 2, 3)

In [ ]:
print(a[2])

3

In [ ]:
a[2] = 10
print(a)

TypeError: 'tuple' object does not support item assignment

## 5) 튜플 더하기

In [ ]:
a = (1, 2, 3)

In [ ]:
print(a + a)

(1, 2, 3, 1, 2, 3)

## 6) 튜플 곱하기

In [ ]:
a = (1, 2, 3)

In [ ]:
print(a * 2)

(1, 2, 3, 1, 2, 3)

## 7) 튜플의 길이 구하기

In [ ]:
a = (1, 2, 3)

In [ ]:
print(len(a))

3

# 5. 딕셔너리

## 1) 생성방법

- 딕셔너리(dict) 는 Key 와 Value 로 이루어 집니다.

In [ ]:
그림

NameError: name '그림' is not defined

In [ ]:
dictionary = {'사자' : 'lion', '호랑이' : 'tiger', '용' : 'dragon'}

In [ ]:
print(dictionary)
print(type(dictionary))

{'사자': 'lion', '호랑이': 'tiger', '용': 'dragon'}
<class 'dict'>

In [ ]:
a = {'car' : ['bus', 'truck', 'taxi'],
    'train' : 'ktx'}

In [ ]:
print(a)
print(type(a))

{'car': ['bus', 'truck', 'taxi'], 'train': 'ktx'}
<class 'dict'>

## 2) key 얻기

In [ ]:
a = {'car' : ['bus', 'truck', 'taxi'],
    'train' : 'ktx'}

In [ ]:
a.keys()

dict_keys(['car', 'train'])

## 3) value 얻기

In [ ]:
a = {'car' : ['bus', 'truck', 'taxi'],
    'train' : 'ktx'}

In [ ]:
a.values()

dict_values([['bus', 'truck', 'taxi'], 'ktx'])

## 4) 요소 추가하기

In [ ]:
a['animal'] = ['monkey', 'tiger']

In [ ]:
print(a)

{'car': ['bus', 'truck', 'taxi'], 'train': 'ktx', 'animal': ['monkey', 'tiger']}

## 5) 요소 삭제하기

In [ ]:
del a['car']

In [ ]:
print(a)

{'train': 'ktx', 'animal': ['monkey', 'tiger']}

# 6. 셋

- set은 집합 자료형이라고도 불리며, 집합에 관한 연산을 쉽게 하기 위해 만들어졌습니다.

## 1) 생성방법

In [ ]:
a = set([1, 2, 3])

In [ ]:
print(a)
print(type(a))

{1, 2, 3}
<class 'set'>

- 중복된 항목을 없애줍니다.

In [ ]:
a = set([1, 1, 2, 3])

In [ ]:
print(a)

{1, 2, 3}

- 순서가 없습니다.

In [ ]:
a = set([4, 3, 2, 1, 1])

In [ ]:
print(a)

{1, 2, 3, 4}

- 따라서 인덱스도 없습니다.

In [ ]:
a[1]

TypeError: 'set' object is not subscriptable

- 인덱스를 통해 접근을 하고 싶으면 tuple이나 list 형태로 형변환을 한 이후에 사용을 하면 됩니다.

In [ ]:
a = set([4, 3, 2, 1, 1])
a = list(a)
print(a)
print(a[1])

[1, 2, 3, 4]
2

## 2) 합집합

In [ ]:
a = set([1, 2, 3])
b = set([3, 4, 5])

In [ ]:
a.union(b)

{1, 2, 3, 4, 5}

## 3) 교집합

In [ ]:
a = set([1, 2, 3])
b = set([3, 4, 5])

In [ ]:
a.intersection(b)

{3}

## 4) 차집합

In [ ]:
a = set([1, 2, 3])
b = set([3, 4, 5])

In [ ]:
a.difference(b)

{1, 2}